@import "../variables";
.Input {
  width: 100%;
  display: flex;
  color: $grey;
  transition: $inputTransition;
  user-select: none;
  flex-direction: column;
}

.Input-Inner {
  font-family: inherit;
  transition: $inputTransition;
  font-size: inherit;
  color: inherit;
}

.Input-Label {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.Input-rounded {
  border-radius: $inputBorderRadius;
}

