@import "../../variables";
@import "../InputBase.scss";
@import "../../Thumb/Thumb";

.Input_type_checkbox {
  flex-direction: row;

  .Input-Inner {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  .Input-Label {
    &:before {
      @extend .Thumb, .Thumb_baseTransition;
      margin-right: $thumbMarginRightBase;
    }
    display: flex;
    align-items: center;
  }
  .Input-Inner[type="checkbox"]:checked+.Input-Label:before {
    content: "✓";
  }
}