@import "../../../variables";

.Input_type_text {
  .Input-Label {
    color: #555;
    order: 0;
    padding-bottom: 5px;
  }
  .Input-Inner {
    height: 16px;
    padding: 6px 12px;
    color: inherit;
    order: 1;
    border: $inputBorder;
    border-radius: 4px;
    outline: none;
  }
}