@import "../../variables";
@import "../InputBase.scss";

.Input_type_text {
  .Input-Label {
    color: #555;
    order: 0;
    padding-bottom: 5px;
  }
  .Input-Inner {
    @extend .Input-rounded;
    padding: 6px 12px;
    color: inherit;
    order: 1;
    border: $inputBorder;
    outline: none;
  }
}