@import "../../variables";
@import "../InputBase.scss";

.Input_type_text {
  .Input-Label {
    color: #555;
    order: 0;
    padding-bottom: 0.6rem;
  }
  .Input-Inner {
    @extend .Input-rounded;
    padding: 0.5rem 1rem;
    color: inherit;
    order: 1;
    border: $inputBorder;
    outline: none;
  }
}