@import "variables";

@mixin for-phone-only {
  @media (max-width: $phoneWidthDown) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $tabletPortraitUp) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $tabletLandscapeUp) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: $desktopUp) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: $bigDesktop) { @content; }
}

@mixin for-custom-width-from-to ($custom-width-from, $custom-width-to )
{
  @media (min-width: $custom-width-from) AND (max-width: $custom-width-to - 1)  { @content; }
}

@mixin for-custom-width-from ($custom-width-from) {
  @media (min-width: $custom-width-from) { @content; }
}

@mixin input-range-thumb-common($prefixes: null) {
  $prefixes-map: (ch:-webkit-slider-thumb, ie:-ms-thumb, moz:-moz-range-thumb);
  $prefixesHandled: if($prefixes == null, map_keys($prefixes-map), $prefixes);
  @each $prefix in $prefixesHandled {
   &::#{map_get($prefixes-map, $prefix)} { @content }
  }
}

@mixin input-range-track-common($prefixes: null) {
  $prefixes-map: (ch:-webkit-slider-runnable-track, ie:-ms-track, moz:-moz-range-track);
  $prefixesHandled: if($prefixes == null, map_keys($prefixes-map), $prefixes);
  @each $prefix in $prefixesHandled {
    &::#{map_get($prefixes-map, $prefix)} { @content }
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
