html, body {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}



.App {
  width: 245px;
  background-color: transparent;
}
