@import "common/variables";
html, body {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}



.App {
  width: 245px;
  background-color: transparent;
}

.BoldText {
  font-family: $fontFamily;
  font-weight: $fontBoldWeight;
  font-size: $fontBoldSize;
  line-height: 1;
}

.CommonText {
  font-family: $fontFamily;
  font-weight: $fontCommonWeight;
  font-size: $fontCommonSize;
  line-height: 1;
}