/* colors */
$blue: #6ee065;
$title: #333;
$red:#eb6745;
$bred:#d91624;
$grey:#676767;
$lightGray: #d8d8d8;
$white: #fff;
$hoverColor: #aaaaaa;
$black: #252525;


/* device sizes */
$phoneWidthDown: 599px;
$tabletPortraitUp: 600px;
$tabletLandscapeUp:900px;
$desktopUp: 1366px;
$bigDesktop: 1920px;

/* fonts */
$baseFont: "Calibri, sans-serif";

/* inputs */
$inputBorderHoverColor: $hoverColor;
$inputBorderFocusColor: $red;
$inputBorderWidth: 2px;
$inputBorderType: solid;
$inputBorderBaseColor: $lightGray;
$inputBorder: $inputBorderWidth $inputBorderType $inputBorderBaseColor;


/* input animations */
$inputTransition: all 0.2s ease;
/* input type range */
$thumbWidth: 14px;
$thumbHeight: 14px;
$thumbColor: lighten($grey, 60%);
$thumbBorder: $lightGray;
$trackLight: $inputBorderFocusColor;
$trackBase: $lightGray;
$trackHeight: 2px;
